<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/headerFragment.css}" rel="stylesheet"/>
    <link th:href="@{/css/globalElements.css}" rel="stylesheet"/>
    <title>Header</title>
</head>
<header th:fragment="header" id="header">

    <div id="LogoBox">
        <img th:src="@{/img/EzraLogo.png}" alt="logo" height="60">
    </div>

    <nav id="HeaderBox">
        <div class="NavLinks">
            <a class="link" th:href="@{/}">Home</a>
            <a class="link" th:href="@{/searchForBoard}">Find board</a>
            <a class="link" th:href="@{/newBoard}">Create board</a>
            <a class="link" href="">Family</a>
        </div>
    </nav>

    <div id="ProfileBox">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="link">Logout</button>
        </form>
    </div>

</header>
</html>