
body{
    background-color: #031c24;
    background-image: linear-gradient(135deg, #031c24 0%, #434747 100%);
    min-height: 110vh;
}
.main{
    width: 100%;
    margin-top: 50px;
    color: #fff;
}
.leftOfMain{
    width: 100%;
    color: #fff;
}

#rightOfMain{
    width: 100%;
    justify-content: start;
    align-items: center;
    color: #fff;
}

#eventSection {
    width: 100%;
}

#eventBox {
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
figure{
    display: block;
    margin: 0;
}.mt-6 {
     margin-top: 150px;
 }