.boards-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.15fr 0.85fr ;
    gap: 0px 0px;
    grid-template-areas:
    ". search ."
    ". result .";
    justify-items: center;
}

.outerSearchDiv{
    grid-area: search;
    max-width: 500px;
    width: 100%;
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}
.innerSearchDiv{
    flex-direction: column;
}
.searchForm{
    padding: 5px 0;
}
.outerResultDiv{
    grid-area: result;
    width: 100%;
    padding: 10px;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
    justify-items: center;
}
.resultInput{
    font-weight: normal;
    color: black;
    margin-left: 5px;
    margin-top: 5px;
    white-space: pre-wrap;
    padding: 0 20px;
    text-align: center;
}
.borderBox:hover{
    transform: scale(1.08, 1.08);
    color: ThreeDLightShadow;
    box-shadow: 0 5px 10px 5px #4C4452;
}
.borderBox {
    border: 1px solid black;
    width: fit-content;
    max-width: 600px;
    height: fit-content;
    font-size: 14px;
    color: gray;
    text-decoration: none;
}