.boards-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.15fr 0.85fr ;
    gap: 0px 0px;
    grid-template-areas:
    ". search ."
    ". result .";
    justify-items: center;
}

.outerSearchDiv{
    grid-area: search;
    max-width: 500px;
    width: 100%;
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}
.innerSearchDiv{
    flex-direction: column;
}
.outerResultDiv{
    grid-area: result;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    grid-auto-flow: column;
}
.searchResults{
    border: 1px solid black;
    height: 100px;
    max-width: 300px;
    max-height: 100px;
    text-align: center;
    padding: 10px 0;
}
