<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/headerFragment.css}" rel="stylesheet"/>
    <link th:href="@{/css/boardPageStyles.css}" rel="stylesheet"/>
    <link th:href="@{/css/globalElements.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Ezra</title>
</head>
<body>
<header th:replace="fragments/headerFragment :: header"></header>
<div th:if="${userPermission.getPermission().equals('master') || userPermission.getPermission().equals('admin')}">
    <div id="adminNavBar">
        <a class="link" th:href="@{'/createEvent/' + ${board.id}}">New event</a>
        <a class="link" th:href="@{'/boardMembers/' + ${board.id}}">Members</a>
    </div>
</div>
<main id="main-grid-container">
    <!--info-->
    <section class="leftOfMain" th:object="${board}">
        <div id="boardSection">
            <div class="boardBox">
                <div class="logoImg">
                    <h2 th:text="*{name}">Welcome</h2>
                </div>
                <div id="infoBox">
                    <div id="infoElements">
                        <div class="infoBox">
                            <div class="InputField">
                                <span class="infoField">Contact person</span>
                                <span class="infoInput" th:text="*{contactName}"></span>
                            </div>
                        </div>
                        <div class="infoBox">
                            <div class="InputField">
                                <span class="infoField">E-mail</span>
                                <span class="infoInput" th:text="*{contactEmail}"></span>
                            </div>
                        </div>
                        <div class="infoBox">
                            <div class="InputField">
                                <span class="infoField">Phone</span>
                                <span class="infoInput" th:text="*{contactNumber}"></span>
                            </div>
                        </div>
                        <div class="infoBox">
                            <div class="InputField">
                                <span class="infoField">Homepage</span>
                                <span th:text="*{homepage}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--posts-->
    <section class="main">
        <div id="ShowEventInfo"></div>
    </section>

    <!--events-->
    <section class="rightOfMain">
        <div>
            <div>
                <h2>Upcoming events</h2>
            </div>
            <div th:each="event : ${events}" th:object="${event}">
                <div>
                    <div class="eventVariableInfoBox">
                        <div class="variableField xex" th:id="${eventStat.count}" onclick="showEvent(this.id)">
                            <div class="mrmrmr">
                                <span class="infoField">event</span>
                                <span class="eventInfoInput" th:text="*{eventName}"></span>
                            </div>
                            <div class="toggle">
                                <div class="alterEventBox">
                                    <a class="link" th:href="@{'/createEvent/' + ${board.id} + '/' + ${event.id}}">Edit</a>
                                    <form class="mlmlml" th:action="@{'/deleteEvent/' + *{board.id} + '/' + *{id}}" method="post">
                                        <button class="delete link">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<script th:inline="javascript">
    /*<![CDATA[*/
    const events = /*[[${events}]]*/ [{id: null}];
    const showEventInfoNode = document.getElementById("ShowEventInfo")
    console.log(showEventInfoNode.innerText === "")
    console.log(showEventInfoNode)

    function displayEvent(event){
        let eventStart = new Date(Date.parse(event.datetime_from)).toLocaleDateString('en-GB', {
            weekday: 'long',
            day: 'numeric',
            month: 'long',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
        })
        let eventEnd = new Date(Date.parse(event.datetime_to)).toLocaleDateString('en-GB', {
            weekday: 'long',
            day: 'numeric',
            month: 'long',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
        })

        return `
            <div id="eventSection">
            <div id="eventBox">
                <div class="logoImg">
                    <h2>${event.eventName}</h2>
                </div>
                <div id="eventInfoBox">
                    <div id="eventInfoElements">
                        <div class="eventVariableInfoBox">
                            <div class="variableField">
                                <span class="infoField">Info/Description</span>
                                <span class="eventInfoInput">${event.message}</span>
                            </div>
                        </div>
                        <div class="eventVariableInfoBox">
                            <div class="variableField">
                                <span class="infoField">From</span>
                                <span class="eventInfoInput">${eventStart}</span>
                            </div>
                        </div>
                        <div class="eventVariableInfoBox">
                            <div class="variableField">
                                <span class="infoField">To</span>
                                <span class="eventInfoInput">${eventEnd}</span>
                            </div>
                        </div>
                        <div class="eventVariableInfoBox">
                            <div class="variableField">
                                <span class="infoField">Location</span>
                                <span class="eventInfoInput">${event.location}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        `;
    }
    function populateMain(element){
        console.log(events)
        if (element.innerText === ""){
            if (events.length !== 0){
                if (events[0].id != null){
                    showEventInfoNode.innerHTML = displayEvent(events[0])
                }
            }else {
                showEventInfoNode.innerHTML = `
            <div id="eventSection">
            <div id="eventBox">
                <div class="logoImg">
                    <h2>There are no upcoming events</h2>
                </div>
            </div>
            </div>
`
            }
        }
    }
    function showEvent(id){
        showEventInfoNode.innerHTML = displayEvent(events[id - 1])
        let divNode = document.getElementById(id);
        let formNode = divNode.lastElementChild;

        if (formNode.style.display === 'none') {
            formNode.style.display = 'block';
        } else {
            formNode.style.display = 'none';
        }
    }
    populateMain(showEventInfoNode);
    /*]]>*/
</script>
</body>
</html>