<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/loginPageStyle.css}" rel="stylesheet"/>
    <link th:href="@{/css/globalElements.css}" rel="stylesheet"/>
    <link th:href="@{/js/notifications/dist/notifications.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Ezra</title>
</head>
<body>
<main class="login-container">
    <div id="loginHalf">
        <div class="loginFormBox">
            <div class="logoImg">
                <h1>New board</h1>
            </div>
            <div id="formBox">
                <form th:action="@{/createBoard}" method="post" th:object="${BoardData}">
                    <div id="loginBoxElements">
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Name</span>
                                    <input type="text" class="input" th:field="*{name}" th:errorclass="filderror" autofocus="autofocus">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Contact name</span>
                                    <input type="text" class="input" th:field="*{contactName}" th:placeholder="${user.firstname + ' ' + user.lastname}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Contact phone number</span>
                                    <input type="text" class="input" th:field="*{contactNumber}" th:placeholder="${user.phone_number}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Contact e-mail</span>
                                    <input type="text" class="input" th:field="*{contactEmail}" th:placeholder="${user.email}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Homepage</span>
                                    <input type="text" class="input" th:field="*{homepage}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label id="textLabel1" class="label">
                                    <span class="span">Description</span>
                                    <textarea id="textArea" class="input" th:field="*{description}" th:errorclass="filderror"></textarea>
                                </label>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}">
                            <span id="hasErrors"></span>
                        </div>
                        <div class="InputBox">
                            <button type="submit">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="imgHalf"></div>
</main>
<script th:src="@{/js/notifications/dist/notifications.js}"></script>
<script th:inline="javascript">
    function calcHeight(value) {
        let numberOfLineBrakes = (value.match(/\n/g) || []).length;
        let newHeight = 20 + numberOfLineBrakes * 20 + 12 + 2;
        return newHeight
    }
    let textarea = document.getElementById("textArea")

    textarea.addEventListener("keyup", () => {
        if (calcHeight(textarea.value) > 71){
            textarea.style.height = calcHeight(textarea.value) + "px";
            if (textLabel1 !== null) {
                textLabel1.style.height = calcHeight(textarea.value) + 'px';
            } else {
                textLabel2.style.height = calcHeight(textarea.value) + 'px';
            }
        } else {
            textarea.style.height = '70px'
            if (textLabel1 !== null) {
                textLabel1.style.height = '70px';
            } else {
                textLabel2.style.height = '70px';
            }
        }
    })

    /*<![CDATA[*/
    const errors = /*[[${errors}]]*/ ['ph'];
    let errorNode = document.getElementById("hasErrors")

    if (errorNode != null) {
        const myNotify = window.createNotification({
            positionClass: 'nfc-top-right',
            displayCloseButton: false,
            onclick: true,
            showDuration: 35000,
            theme: 'error'
        });
        if (errors[0] !== undefined) {
            for (let i = 0; i < errors.length; i++) {
                myNotify({
                    title: "Error",
                    message: errors[i]
                })
            }
        }
    }
    /*]]>*/
</script>
</body>
</html>