<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/headerFragment.css}" rel="stylesheet"/>
    <link th:href="@{/css/loginPageStyle.css}" rel="stylesheet"/>
    <link th:href="@{/css/globalElements.css}" rel="stylesheet"/>
    <link th:href="@{/js/notifications/dist/notifications.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Ezra</title>
</head>
<body>
<header th:replace="fragments/headerFragment :: header"></header>
<main class="login-container">
    <div id="loginHalf">
        <div class="loginFormBox">
            <div class="logoImg">
                <h1>New Event!</h1>
            </div>
            <div id="formBox">
                <form th:if="${eventData.id == null}" th:action="@{'/createEvent/'+${board.id}}" method="post"
                      th:object="${eventData}">
                    <div id="loginBoxElements">
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Event name</span>
                                    <input type="text" class="input" th:field="*{eventName}" th:errorclass="filderror"
                                           autofocus="autofocus">
                                    <input type="text" class="input" th:field="*{board}" th:errorclass="filderror"
                                           th:value="${board}" hidden>
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label id="textLabel1" class="label">
                                    <span class="span">Description</span>
                                    <!--<input type="text" class="input" th:field="*{message}" th:errorclass="filderror">-->
                                    <textarea id="textArea" class="input" th:field="*{message}"
                                              th:errorclass="filderror"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Location</span>
                                    <input type="text" class="input" th:field="*{location}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Start</span>
                                    <input type="datetime-local" class="input" th:field="*{datetime_from}"
                                           th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">End</span>
                                    <input type="datetime-local" class="input" th:field="*{datetime_to}"
                                           th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="radioButtonsBox">
                                <span>Who can see this event?</span>
                                <label>Admins
                                    <input type="radio" th:field="*{membershipType}" th:errorclass="filderror"
                                           th:value="${T(no.sbs.ezra.security.UserPermission).ADMIN}">
                                </label>
                                <label>Members
                                    <input type="radio" th:field="*{membershipType}" th:errorclass="filderror"
                                           th:value="${T(no.sbs.ezra.security.UserPermission).MEMBER}">
                                </label>
                                <label>Followers
                                    <input type="radio" th:field="*{membershipType}" th:errorclass="filderror"
                                           th:value="${T(no.sbs.ezra.security.UserPermission).FOLLOWER}">
                                </label>
                                <label>Everyone
                                    <input type="radio" th:field="*{membershipType}" th:errorclass="filderror"
                                           th:value="${T(no.sbs.ezra.security.UserPermission).VISITOR}">
                                </label>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}">
                            <span id="hasErrors"></span>
                        </div>
                        <div class="InputBox">
                            <button type="submit">Save</button>
                        </div>
                    </div>
                </form>
                <form th:if="${eventData.id != null}" th:action="@{'/createEvent/'+${board.id}+'/'+${eventData.id}}"
                      method="post" th:object="${eventData}">
                    <div id="loginBoxElements">
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Event name</span>
                                    <input type="text" class="input" th:field="*{eventName}" th:errorclass="filderror"
                                           autofocus="autofocus">
                                    <input type="text" class="input" th:field="*{board}" th:errorclass="filderror"
                                           th:value="${board}" hidden>
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label id="textLabel2" class="label">
                                    <span class="span">Description</span>
                                    <!--<input type="text" class="input" th:field="*{message}" th:errorclass="filderror">-->
                                    <textarea id="textArea" class="input" th:field="*{message}"
                                              th:errorclass="filderror"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Location</span>
                                    <input type="text" class="input" th:field="*{location}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Start</span>
                                    <input type="datetime-local" class="input" th:field="*{datetime_from}"
                                           th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">End</span>
                                    <input type="datetime-local" class="input" th:field="*{datetime_to}"
                                           th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="radioButtonsBox">
                                <span>Who can see this event?</span>
                                <label>Admins
                                    <input type="radio" th:field="*{membershipType}" th:errorclass="filderror"
                                           th:value="${T(no.sbs.ezra.security.UserPermission).ADMIN}">
                                </label>
                                <label>Members
                                    <input type="radio" th:field="*{membershipType}" th:errorclass="filderror"
                                           th:value="${T(no.sbs.ezra.security.UserPermission).MEMBER}">
                                </label>
                                <label>Followers
                                    <input type="radio" th:field="*{membershipType}" th:errorclass="filderror"
                                           th:value="${T(no.sbs.ezra.security.UserPermission).FOLLOWER}">
                                </label>
                                <label>Everyone
                                    <input type="radio" th:field="*{membershipType}" th:errorclass="filderror"
                                           th:value="${T(no.sbs.ezra.security.UserPermission).VISITOR}">
                                </label>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}">
                            <span id="hasErrors"></span>
                        </div>
                        <div class="InputBox">
                            <button type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="imgHalf"></div>
</main>
<script th:src="@{/js/notifications/dist/notifications.js}"></script>
<script th:inline="javascript">
    function calcHeight(value) {
        let numberOfLineBrakes = (value.match(/\n/g) || []).length;
        let newHeight = 20 + numberOfLineBrakes * 20 + 12 + 2;
        return newHeight
    }

    let textarea = document.getElementById("textArea")
    let textLabel1 = document.getElementById("textLabel1")
    let textLabel2 = document.getElementById("textLabel2")

    textarea.addEventListener("keyup", () => {
        if (calcHeight(textarea.value) > 71){
            textarea.style.height = calcHeight(textarea.value) + "px";
            if (textLabel1 !== null) {
                textLabel1.style.height = calcHeight(textarea.value) + 'px';
            } else {
                textLabel2.style.height = calcHeight(textarea.value) + 'px';
            }
        } else {
            textarea.style.height = '70px'
            if (textLabel1 !== null) {
                textLabel1.style.height = '70px';
            } else {
                textLabel2.style.height = '70px';
            }
        }
    })

    /*<![CDATA[*/
    const errors = /*[[${errors}]]*/ ['ph'];
    let errorNode = document.getElementById("hasErrors")

    if (errorNode != null) {
        const myNotify = window.createNotification({
            positionClass: 'nfc-top-right',
            displayCloseButton: false,
            onclick: true,
            showDuration: 35000,
            theme: 'error'
        });
        if (errors[0] !== undefined) {
            for (let i = 0; i < errors.length; i++) {
                myNotify({
                    title: "Error",
                    message: errors[i]
                })
            }
        }
    }
    /*]]>*/
</script>
</body>
</html>