<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Sindre Broholm Sæther">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/headerFragment.css}" rel="stylesheet"/>
  <link th:href="@{/css/boardMembersPage.css}" rel="stylesheet"/>
  <link th:href="@{/css/globalElements.css}" rel="stylesheet"/>
  <link th:href="@{/css/loginPageStyle.css}" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/js/notifications/dist/notifications.css}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <title>Ezra</title>
</head>
<body>
<header th:replace="fragments/headerFragment :: header"></header>

<main id="main-grid-container">
  <!--info-->
  <section class="leftOfMain" >
    <div id="sendInviteBox">
      <div id="inviteBox">
        <form th:action="@{/familyMember}" method="post">
          <input type="text" name="sendTo" class="inputStyle" placeholder="Invite family member by e-mail">
          <button class="link" type="submit">Invite</button>
        </form>
      </div>
    </div>
  </section>

  <!--pending request-->
  <section class="main">
    <div th:if="${famPendingRequest.size() > 0}" class="gridContainer">
      <h2>Accept or deny family member requests</h2>
      <div th:each="pending: ${famPendingRequest}" th:object="${pending}" class="borderBox">
        <div>
          <span th:text="*{firstname + ' ' + lastname}" class="infoInput"></span>
          <span th:text="*{email}" class="infoInput"></span>
          <span th:text="*{phone_number}" class="infoInput"></span>
        </div>

        <div class="pendingMemberFormBox">
          <form th:action="@{'/family/' + ${pending.id}}" method="post" class="pendingMemberForm">
            <input type="text" name="value" th:value="${true}" hidden>
            <button class="link" type="submit">Accept</button>
          </form>
          <form th:action="@{'/family/' + ${pending.id}}" method="post" class="pendingMemberForm">
            <input type="text" name="value" th:value="${false}" hidden>
            <button class="delete link" type="submit">Reject</button>
          </form>
        </div>
      </div>
    </div>

  </section>

  <!--members-->
  <section class="rightOfMain">
    <h2>Family members</h2>
    <div class="membersGridContainer">
      <div th:each="member: ${myFamily}" th:object="${member}" class="borderBox" th:id="${memberStat.count}" onclick="toggle(this.id)"
      th:if="${member.getUserOne.id == user.id}">
        <div>
          <span th:text="*{getUserTwo.firstname + ' ' + getUserTwo.lastname}" class="infoInput"></span>
          <span th:text="*{getUserTwo.email}" class="infoInput"></span>
          <span th:text="*{getUserTwo.phone_number}" class="infoInput"></span>
        </div>
        <div class="toggleBox" style="display: none;">
          <form th:action="@{'/family/' + ${member.getUserTwo.id}}" method="post" class="pendingMemberForm">
            <input type="text" name="value" th:value="${false}" hidden>
            <button class="link" type="submit">Delete</button>
          </form>
        </div>
      </div>
      <div th:each="member: ${myFamily}" th:object="${member}" class="borderBox" th:id="${memberStat.count}" onclick="toggle(this.id)"
           th:if="${member.getUserTwo.id == user.id}">
        <div>
          <span th:text="*{getUserOne.firstname + ' ' + getUserOne.lastname}" class="infoInput"></span>
          <span th:text="*{getUserOne.email}" class="infoInput"></span>
          <span th:text="*{getUserOne.phone_number}" class="infoInput"></span>
        </div>
        <div class="toggleBox" style="display: none;">
          <form th:action="@{'/family/' + ${member.getUserOne.id}}" method="post" class="pendingMemberForm">
            <input type="text" name="value" th:value="${false}" hidden>
            <button class="link" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!--EditProfile-->
  <section class="editProfileSection">
    <div class="loginFormBox">
      <div class="logoImg">
        <h1>Profile</h1>
      </div>
      <div id="formBox">
        <form th:action="@{/family/editProfile}" method="post" th:object="${user}">
          <div id="loginBoxElements">
            <div class="InputBox">
              <div class="InputField">
                <label class="label">
                  <span class="span">E-mail</span>
                  <input type="text" class="input" th:field="*{email}" th:errorclass="filderror" autofocus="autofocus">
                </label>
              </div>
            </div>
            <div class="InputBox">
              <div class="InputField">
                <label class="label">
                  <span class="span">Firstname</span>
                  <input type="text" class="input" th:field="*{firstname}" th:errorclass="filderror">
                </label>
              </div>
            </div>
            <div class="InputBox">
              <div class="InputField">
                <label class="label">
                  <span class="span">Lastname</span>
                  <input type="text" class="input" th:field="*{lastname}" th:errorclass="filderror">
                </label>
              </div>
            </div>
            <div class="InputBox">
              <div class="InputField">
                <label class="label">
                  <span class="span">Phone number</span>
                  <input type="text" class="input" th:field="*{phone_number}" th:errorclass="filderror">
                </label>
              </div>
            </div>
            <div class="InputBox">
              <div class="InputField">
                <label class="label">
                  <span class="span">New password?</span>
                  <input type="password" class="input" th:field="*{password}" th:errorclass="filderror">
                </label>
              </div>
            </div>
            <div class="InputBox">
              <div class="InputField">
                <label class="label">
                  <span class="span">Enter current password to confirm</span>
                  <input type="password" class="input" name="value">
                </label>
              </div>
            </div>
            <div th:if="${#fields.hasErrors()}">
              <span id="hasErrors"></span>
            </div>
            <div class="InputBox">
              <button type="submit">Edit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

</main>

<script th:src="@{/js/notifications/dist/notifications.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  const errors = /*[[${errors}]]*/ ['ph'];

  if (errors[0] !== "") {
    const myNotify = window.createNotification({
      positionClass: 'nfc-top-right',
      displayCloseButton: false,
      onclick: true,
      showDuration: 35000,
      theme: 'error'
    });
    if (errors[0] !== undefined) {
      for (let i = 0; i < errors.length; i++) {
        myNotify({
          title: "Error",
          message: errors[i]
        })
      }
    }
  }
  /*]]>*/
  function toggle(id) {
    let divNode = document.getElementById(id);
    let formNode = divNode.lastElementChild;

    if (formNode.style.display === 'none') {
      formNode.style.display = 'block';
    } else {
      /* formNode.style.display = 'none';*/
    }
  }
</script>
</body>
</html>