<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/headerF.css}" rel="stylesheet"/>
    <link th:href="@{/css/mainPageStyles.css}" rel="stylesheet"/>
    <link th:href="@{/js/notifications/dist/notifications.css}" rel="stylesheet">
    <link th:href="@{/js/fullcalendar/lib/main.css}" rel="stylesheet"/>
    <link th:href="@{/js/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/js/fontawesome/css/all.css}" rel="stylesheet"/>
    <title>Ezra</title>
</head>
<body>
<header th:replace="fragments/headerF :: header"></header>


    <div class="container mt-6">
        <div class="row justify-content-center col-sm-12">
            <div class="col-lg-8 main col-md-12 col-sm-12">
                <div id="calendar"></div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 mt-4" id="rightOfMain"></div>
        </div>
    </div>

<script th:src="@{/js/fullcalendar/lib/main.js}"></script>
<script th:src="@{/js/notifications/dist/notifications.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const messageNoty = /*[[${msg}]]*/ "";

    if (messageNoty !== "") {
        function myNotify() {
            const notify = window.createNotification({
                positionClass: 'nfc-top-right',
                displayCloseButton: false,
                onclick: true,
                showDuration: 35000,
                theme: 'success'
            });
            notify({
                title: 'Message',
                message: messageNoty.toString()
            })
        }

        myNotify();
    }
    document.addEventListener('DOMContentLoaded', function () {

        /*This is an array of all events connected to user*/
        const eventArray = /*[[${allEvents}]]*/ [];
        const familyEvents = /*[[${familyEvents}]]*/ [];

        eventArray.push.apply(eventArray, familyEvents);

        const calendarEl = document.getElementById('calendar');
        const rightSection = document.getElementById("rightOfMain")

        /*
        * This functions returns HTML for event and date clicked,
        * also includes dateTime handlers.
        * They will populate the right side of the grid-layout for this page
        */
        function showEvent(event) {
            let eventStart = new Date(Date.parse(event.start)).toLocaleDateString(undefined, {
                weekday: 'long',
                day: 'numeric',
                month: 'long',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
            })
            let eventEnd = new Date(Date.parse(event.end)).toLocaleDateString(undefined, {
                weekday: 'long',
                day: 'numeric',
                month: 'long',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
            })
            return `
 <div id="eventSection">
    <div class="p-2 border" id="eventBox">
        <div>
            <p class="text-center fs-2 text-wrap">${event.extendedProps.boardName}</p>
        </div>
        <div class="border" id="eventInfoBox">
            <div  class="d-flex flex-column bd-highlight p-2" id="eventInfoElements">
                    <figure class="m-0">
                        <blockquote class="blockquote">
                            <p>${event.title}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2">
                            EVENT
                        </figcaption>
                    </figure>

                    <figure class="m-0">
                        <blockquote class="blockquote">
                            <p>${eventStart}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2">
                            STARTS
                        </figcaption>
                    </figure>

                    <figure class="m-0">
                        <blockquote class="blockquote">
                            <p>${eventEnd}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2">
                            ENDS
                        </figcaption>
                    </figure>

                    <figure class="m-0">
                        <blockquote class="blockquote">
                            <p>${event.extendedProps.location}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2">
                            LOCATION
                        </figcaption>
                    </figure class="m-0">
                <div id="isAttendingMissing">
                    <figure class="m-0">
                        <blockquote class="blockquote">
                            <p>${event.extendedProps.familyMember}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2">
                            ATTENDING
                        </figcaption>
                    </figure>
                </div>
                    <figure class="m-0">
                        <blockquote class="blockquote">
                            <p class="text-break">${event.extendedProps.description}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2">
                            INFO
                        </figcaption>
                    </figure>
            </div>
        </div>
    </div>
 </div>
`}

        function showEvents(event) {
            let getDateStat = event.start
            let sliceStartDate = getDateStat.slice(11)
            let getDateEnd = event.end
            let sliceEndDate;
            if (getDateStat.slice(0, 10) === getDateEnd.slice(0, 10)) {
                sliceEndDate = getDateEnd.slice(11)
            } else {
                sliceEndDate = new Date(Date.parse(event.end)).toLocaleDateString(undefined, {
                    day: 'numeric',
                    month: 'long',
                    hour: '2-digit',
                    minute: '2-digit',
                })
            }
            return `
                <div class="container border m-1">
                    <div  class="d-flex flex-column bd-highlight mb-3" id="eventInfoElements">
                        <figure>
                            <blockquote class="blockquote">
                               <p class="text-break">${event.title}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                ${event.boardName}
                             </figcaption>
                        </figure>
                        <figure>
                            <blockquote class="blockquote">
                               <p class="text-break">${sliceStartDate} - ${sliceEndDate}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                STARTS - ENDS
                             </figcaption>
                        </figure>
                        <figure>
                            <blockquote class="blockquote">
                               <p class="text-break">${event.familyMember}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                ATTENDING
                             </figcaption>
                        </figure>
                    </div>
                </div>
                `}


        const calendar = new FullCalendar.Calendar(calendarEl, {
            eventClick: function (info) {
                let eventObj = info.event;
                rightSection.innerHTML = showEvent(eventObj);
            },
            dateClick: function (info) {
                let today = new Date(Date.parse(info.dateStr)).toLocaleDateString(undefined, {
                    weekday: 'long',
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric',
                })
                let eventsThisDay = [];
                let tempHTML = today.toString();
                eventArray.forEach(value => {
                    let getDate = value.start
                    let sliceDate = getDate.slice(0, 10)
                    if (sliceDate === info.dateStr) {
                        console.log(value);
                        eventsThisDay.push(value);
                        tempHTML += showEvents(value);
                    }
                })
                rightSection.innerHTML = tempHTML;
            },
            windowResize: function (arg){
                if (window.innerWidth <= 768){
                    /*    PHONES   */
                    calendar.setOption('aspectRatio', 0.70)
                    calendar.setOption('headerToolbar',
                        {
                            left: 'title',
                            center: 'dayGridMonth,dayGridWeek,dayGridDay',
                            right: 'prev,next'
                        })
                }else if (window.innerWidth <= 992){
                    /*    TABLETS    */
                    calendar.setOption('aspectRatio', 0.80)
                    calendar.setOption('headerToolbar',
                        {
                            left: 'title',
                            center: 'dayGridMonth,dayGridWeek,dayGridDay',
                            right: 'prev,today,next'
                        })
                } else {
                    /*    DESKTOP   */
                    calendar.setOption('aspectRatio', 1.15)
                    calendar.setOption('headerToolbar',
                        {
                            left: 'title',
                            center: 'dayGridMonth,dayGridWeek,dayGridDay',
                            right: 'prev,today,next'
                        })
                }
            },
            weekNumbers: true,
            dayMaxEvents: true,
            themeSystem: 'Cyborg',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,dayGridDay'
            },
            initialView: 'dayGridMonth',
            nextDayThreshold: '00:00:00',
            firstDay: 1,
            eventTimeFormat: { // like '14:30'
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            },
            events: eventArray,
        });
        calendar.render();
    })
    ;

</script>
</body>
</html>