<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/headerFragment.css}" rel="stylesheet"/>
    <link th:href="@{/css/mainPageStyles.css}" rel="stylesheet"/>
    <link th:href="@{/js/notifications/dist/notifications.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css" rel="stylesheet"/>
    <title>Ezra</title>
</head>
<body>
<header th:replace="fragments/headerFragment :: header"></header>
<article id="main-grid-container">
    <section class="leftOfMain div">
        <h1 class="textCenter">Boards</h1>
        <div class="div eventVariableInfoBox " th:each="ur: ${UserRoles}">
            <a th:href="@{'/board/' + ${ur.board.id}}">
                <div class="div variableField border">
                    <span class="eventInfoInput" th:text="${ur.board.name}"></span>
                </div>
            </a>
        </div>
    </section>
    <main class="main">
        <div id='calendar'></div>
    </main>
    <section id="rightOfMain" class="div"></section>
</article>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
<script th:src="@{/js/notifications/dist/notifications.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const messageNoty = /*[[${msg}]]*/ "";

    if (messageNoty !== ""){
    function myNotify() {
        const notify =  window.createNotification({
            positionClass: 'nfc-top-right',
            displayCloseButton: false,
            onclick: true,
            showDuration: 35000,
            theme: 'success'
        });
        notify({
            title:'Message',
            message: messageNoty.toString()
        })
    }
        myNotify();
    }
    document.addEventListener('DOMContentLoaded', function () {

        /*This is an array of all events connected to user*/
        const eventArray = /*[[${allEvents}]]*/ [];
        const familyEvents = /*[[${familyEvents}]]*/ [];

        eventArray.push.apply(eventArray, familyEvents);

        const calendarEl = document.getElementById('calendar');
        const rightSection = document.getElementById("rightOfMain")

        /*
        * This functions returns HTML for event and date clicked,
        * also includes dateTime handlers.
        * They will populate the right side of the grid-layout for this page
        */
        function showEvent(event) {
            let eventStart = new Date(Date.parse(event.start)).toLocaleDateString(undefined, {
                weekday: 'long',
                day: 'numeric',
                month: 'long',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
            })
            let eventEnd = new Date(Date.parse(event.end)).toLocaleDateString(undefined, {
                weekday: 'long',
                day: 'numeric',
                month: 'long',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
            })
            return `
            <div class="div" id="eventSection">
            <div class="div" id="eventBox">
                <div class="div logoImg">
                    <h2>${event.extendedProps.boardName}</h2>
                </div>
                <div class="div" id="eventInfoBox">
                    <div  class="div" id="eventInfoElements">
                        <div class="eventVariableInfoBox div">
                            <div class="variableField div">
                                <span class="infoField">Event</span>
                                <span class="eventInfoInput">${event.title}</span>
                            </div>
                        </div>
                        <div class="eventVariableInfoBox div">
                            <div class="variableField div">
                                <span class="infoField">From</span>
                                <span class="eventInfoInput">${eventStart}</span>
                            </div>
                        </div>
                        <div class="eventVariableInfoBox div">
                            <div class="variableField div">
                                <span class="infoField">To</span>
                                <span class="eventInfoInput">${eventEnd}</span>
                            </div>
                        </div>
                        <div class="eventVariableInfoBox div">
                            <div class="variableField div">
                                <span class="infoField">Location</span>
                                <span class="eventInfoInput">${event.extendedProps.location}</span>
                            </div>
                        </div>
                        <div class="eventVariableInfoBox div">
                            <div class="variableField div">
                                <span class="infoField">Info/Description</span>
                                <span class="eventInfoInput">${event.extendedProps.description}</span>
                            </div>
                        </div>
                        <div id="isAttendingMissing">
                            <div className="eventVariableInfoBox div">
                                <div className="variableField div">
                                    <span className="infoField">Attending</span><br>
                                    <span className="eventInfoInput">${event.extendedProps.familyMember}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>`
        }

        function showEvents(event) {
            let getDateStat = event.start
            let sliceStartDate = getDateStat.slice(11)
            let getDateEnd = event.end
            let sliceEndDate;
            if (getDateStat.slice(0, 10) === getDateEnd.slice(0, 10)) {
                sliceEndDate = getDateEnd.slice(11)
            } else {
                sliceEndDate = new Date(Date.parse(event.end)).toLocaleDateString(undefined, {
                    day: 'numeric',
                    month: 'long',
                    hour: '2-digit',
                    minute: '2-digit',
                })
            }
        return `
                <div class="div" id="eventInfoBox">
                    <div  class="div" id="eventInfoElements">
                        <div class="eventVariableInfoBox div">
                            <div class="variableField div">
                                <span class="infoField">${event.boardName}</span>
                                <span class="eventInfoInput">${event.title}</span>
                            </div>
                        </div>
                        <div class="eventVariableInfoBox div">
                            <div class="variableField div">
                                <div class="timeInfoBox">
                                    <span class="eventInfoInput">${sliceStartDate}</span>
                                    <span class="infoField">-</span>
                                    <span class="eventInfoInput">${sliceEndDate}</span>
                                </div>

                                <div class="isFamilyMemberMissing">
                                    <span class="infoField">Attending</span><br>
                                    <span class="eventInfoInput">${event.familyMember}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                `
    }

    const calendar = new FullCalendar.Calendar(calendarEl, {
        eventClick: function (info) {
            let eventObj = info.event;
            rightSection.innerHTML = showEvent(eventObj);
        },
        dateClick: function (info) {
            let today = new Date(Date.parse(info.dateStr)).toLocaleDateString(undefined, {
                weekday: 'long',
                day: 'numeric',
                month: 'long',
                year: 'numeric',
            })
            let eventsThisDay = [];
            let tempHTML = today.toString();
            eventArray.forEach(value => {
                let getDate = value.start
                let sliceDate = getDate.slice(0, 10)
                if (sliceDate === info.dateStr) {
                    console.log(value);
                    eventsThisDay.push(value);
                    tempHTML += showEvents(value);
                }
            })
            rightSection.innerHTML = tempHTML;
        },
        headerToolbar: {center: 'dayGridMonth,dayGridWeek,dayGridDay'},
        initialView: 'dayGridMonth',
        nextDayThreshold: '00:00:00',
        firstDay: 1,
        eventTimeFormat: { // like '14:30'
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        },
        events: eventArray,
        /*eventColor: '#1D9F91'*/
    });
    calendar.render();
    })
    ;

</script>
</body>
</html>