<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/loginPageStyle.css}" rel="stylesheet"/>
    <link th:href="@{/css/globalElements.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Ezra</title>
</head>
<body>
<main class="login-container">
    <div id="loginHalf">
        <div class="loginFormBox">
            <div class="logoImg">
                <!--<img th:src="@{/img/EzraLogo.png}" alt="logo" height="70px">-->
                <h1>New board</h1>
            </div>
            <div id="formBox">
                <form th:action="@{/createBoard}" method="post" th:object="${BoardData}">
                    <div id="loginBoxElements">
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Name</span>
                                    <input type="text" class="input" th:field="*{name}" th:errorclass="filderror" autofocus="autofocus">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Contact name</span>
                                    <input type="text" class="input" th:field="*{contactName}" th:placeholder="${user.firstname + ' ' + user.lastname}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Contact phone number</span>
                                    <input type="text" class="input" th:field="*{contactNumber}" th:placeholder="${user.phone_number}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Contact e-mail</span>
                                    <input type="text" class="input" th:field="*{contactEmail}" th:placeholder="${user.email}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <div class="InputField">
                                <label class="label">
                                    <span class="span">Homepage</span>
                                    <input type="text" class="input" th:field="*{homepage}" th:errorclass="filderror">
                                </label>
                            </div>
                        </div>
                        <div class="InputBox">
                            <button type="submit">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="imgHalf"></div>
</main>
</body>
</html>