<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/headerFragment.css}" rel="stylesheet"/>
    <link th:href="@{/css/globalElements.css}" rel="stylesheet"/>
    <link th:href="@{/css/searchForBoardStyles.css}" rel="stylesheet"/>
    <title>Ezra</title>
</head>
<body>
<header th:replace="fragments/headerFragment :: header"></header>
<main class="boards-container">
    <div class="outerSearchDiv">
        <div class="innerSearchDiv">
            <form th:action="@{/searchForBoard}" method="post" class="searchForm">
                <label for="keyword"></label>
                <input type="text" name="keyword" id="keyword" th:value="${keyword}" placeholder="Search for board"/>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="outerResultDiv">
        <div th:each="board : ${searchResults}" th:object="${board}">
            <a th:href="@{'/board/' + ${board.id} }" th:if="*{!name.equals('noResult')}" class="borderBox">
                <h2 th:text="*{name}" class="resultInput"></h2>
                <p th:text="*{contactName} + ' | ' + *{contactNumber}" class="resultInput"></p>
                <p th:text="*{homepage}" class="resultInput"></p>
            </a>
            <div th:if="*{name.equals('noResult')}">
                <h2>No board match that search!</h2>
            </div>
        </div>
    </div>

</main>
<script type="text/javascript">

</script>
</body>
</html>